@model LoaiGiay
@{
    ViewData["Title"] = "SuaLoaiGiay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 text-center" style="margin-bottom: 20px;">
    <h4 style="font-weight: 700;">Sửa loại giày</h4>
</div>
<form asp-action="SuaLoaiGiay" method="post" style="padding: 0 20px; width: 100%">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Loại giày cũ</label>
            <input type="text" class="form-control" value="@Model.TenLoaiGiay" disabled>
        </div>
        <div class="form-group col-md-12">
            <label>Loại giày mới</label>
            <input asp-for="TenLoaiGiay" type="text" class="form-control" placeholder="Nhập loại giày mới">
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Sửa loại giày</button>
    </div>
</form>

