
@{
    ViewData["Title"] = "DatHangThanhCong";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container" style="margin: 50px auto;">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/images/shopping.png" alt="lỗi ảnh" style="width: 60%;">
            <h4 style="font-weight: 700; margin-top: 20px;">THANH TOÁN THÁNH CÔNG !</h4>
            <a href="#">Quay lại trang chủ</a>
        </div>
    </div>
</div>